#btn-scrollDown {
    background-color: transparent;
    /* background-color: var(--cPrimary-low); */
    /* border-radius: 100%; */
    /* padding: 10px; */
    margin-top: 50px;
    /* width: calc(20px + (40 - 20) * ((100vw - 200px) / (1600 - 300)));
    height: calc(20px + (40 - 20) * ((100vw - 200px) / (1600 - 300))); */
    img {
      clip-path: circle();
      padding: 10px;
      background-color: var(--cPrimary-low);
      animation: down-up 1s infinite alternate;
    }
  }


  @keyframes down-up {
    0% {
      transform: translateY(5px);
    }
  
    100% {
      transform: translateY(-5px);
    }
  }

  .services-text {
    /* background-color: var(--cPrimary); */
    /* padding: 20px 0; */
    /* color: var(--cPrimary); */
    /* font-family: ; */
    font-size: 1.2rem;
    line-height: 2rem;
    display: grid;
    font-weight: 400;
    justify-items: center;
    text-align: center;
    text-wrap: balance;
    margin: 40px 0;
    button {
      margin-top: 20px;
      background-color: var(--cPrimary);
      padding: 10px 20px;
      border-radius: 5px;
      color: white;
      transition: 0.3s;
      &:hover {
        background-color: var(--cPrimary-dark);
      }
    }
  }
  .services-images {
    margin: 80px 0 0 40px;
    position: relative;
    display: flex;
    align-items: flex-end;
    img {
      position: absolute;
    }

    img:nth-child(1) {
      left: -5px;
      z-index: 2;
      max-height: 65%;
      animation: slideL linear;
      animation-timeline: view();
      animation-range-start: cover 10px;
      animation-range-end: cover 30%;
    }
    img:nth-child(2) {
      position: relative;
      z-index: 1;
      max-height: 80%;
      max-width: 100%;
    }
    img:nth-child(3) {
      z-index: 2;
      right: -5px;
      max-height: 90%;
      max-width: 40%;
      animation: slideR linear;
      animation-timeline: view();
      animation-range-start: cover 10px;
      animation-range-end: cover 35%;
    }
  }
  
  .services-text {
    margin: 40px 0 0;
    text-align: center;

    p {
      text-wrap: balance;
      color: var(--cGray);
    }
  }